obj
bin
packages
.vs
/Backend/appsettings.json
/Backend/UnitTestDb.db
/Backend/Migrations
*.db-shm
*.db-wal
Backend/Sql/gdc.db
Backend/auth.db
/GameDevsConnect.Backend.Shared/appsettings.json

*terraform*
secrets.tfvars
errored.tfstate
!terraform.tfvars
!.terraform
.terraform/*/.terraform
.ssh
acr_token
acr.sh
backend_config.tfvars
/GameDevsConnect.Backend.Shared/appsettings.aspire.json
/GameDevsConnect.Backend.AppHost/appsettings.json
.VSCodeCounter