.main {
    background-color: var(--color4);
    border: var(--color-text) solid 1px;
    border-radius: 8px;
}

.main > article {
    background-color: var(--color1);
    margin: 4px;
    border: var(--color-text) solid 1px;
    border-radius: 8px;
}

.main_content {
    align-items: center;
    color: var(--color-text);
}

.icon {
    display: flex;
    margin-left: 16px;
}

.icon i {
    font-size: 2rem;
}

.icon p {
    position: relative;
    left: -25px;
    font-size: 1.4rem;
    color: var(--color1);
    align-self: center;
}

.content {
    display: grid;
    margin: 16px;
    text-align: center;
}

.content_title {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    padding-inline: 8px;
}

.content_message {
    background-color: var(--color2);
    padding: 8px 16px;
    text-align: justify;
    border: var(--color-text) solid 1px;
    white-space: pre-line;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    
    padding: 0px 16px 16px 0;
}

.button {
    background-color: var(--color2);
    padding: 8px 8px;
    border: var(--color3) solid 1px;
    border-radius: 8px;
    color: var(--color4);
}