:root {
  --color1: #222831;
  --color2: #393E46;
  --color3: #00ADB5;
  --color4: #00FFF5;
  --color-text: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    /* color: var(--color4); */
    text-decoration: none;
}

body {
    background-color: var(--color2);
}