.main {

}

.button {
    color: var(--color-text);
    align-items: center;
    margin: auto;
    text-align: center;
    display: grid;
    padding: 8px 16px;
    width: fit-content;
    border-bottom: var(--color3) solid 4px;
    border-radius: 8px;
}