.main {
    background-color: var(--color1);
    border: var(--color-text) solid 2px;
    border-radius: 8px;
    padding: 16px;
    color: var(--color-text);
}

.message {
    padding: 4px;
    border: var(--color-text) solid 1px;
    border-radius: 8px;
}

.message > textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
    resize: none;
    color: var(--color-text);
    background-color: var(--color2);
    border: var(--color-text) solid 1px;
    border-radius: 4px;
    outline: none;
    padding: 8px;
}

.buttons {
    display: flex;
}

.button {
    margin: 8px;
}

.projects {
    margin: 8 8px 8px 8px;
}

.footer {
    display: flex;
    justify-content: center;
}

.send_button {
    background-color: var(--color3);
    width: 100px;
    text-align: center;
    padding: 8px;
    margin-top: 8px;
    border: var(--color-text) solid 1px;
    border-radius: 4px;
}

.show_files {
    margin: 8px;
}

.show_file {
    background-color: var(--color2);
    padding: 8px;
    display: grid;
    grid-template-columns: 5% 90% 1%;
}

.show_tags_button {
    text-align: center;
}