.tags {
    padding-bottom: 16px;
    border: var(--color-text) solid 1px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    padding: 4px 8px;
    border: var(--color3) solid 1px;
    margin: 4px;
}

.tags_title {
    text-align: center;
    padding: 16px;
}