name: Build_and_Push

on:
  workflow_dispatch:
    
jobs:
  build-stage:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        name:
          - Azure
        name_lower:
          - azure

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./GameDevsConnect.Backend.API.${{matrix.name}}/Dockerfile
          push: true
          tags: ${{secrets.DOCKER_USERNAME}}/gamedevsconnect_backend_api_${{matrix.name_lower}}:latest