name: Build_and_Push

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - .github/**

env:
  APP_NAME: 'GameDevsConnect'
  APP_NAME_LOWER: 'gamedevsconnect'
    
jobs:
  build-stage:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - path: Backend.API.Azure
            tag: backend_api_azure
            context: ./

          - path: Backend.API.File
            tag: backend_api_file
            context: ./

          - path: Backend.API.Gateway
            tag: backend_api_gateway
            context: ./

          - path: Backend.API.Notification
            tag: backend_api_notification
            context: ./

          - path: Backend.API.Profile
            tag: backend_api_profile
            context: ./

          - path: Backend.API.Project
            tag: backend_api_project
            context: ./

          - path: Backend.API.Post
            tag: backend_api_post
            context: ./

          - path: Backend.API.Quest
            tag: backend_api_quest
            context: ./

          - path: Backend.API.Tag
            tag: backend_api_tag
            context: ./

          - path: Backend.API.User
            tag: backend_api_user
            context: ./

          - path: Frontend/GameDevsConnect.Frontend.Web
            tag: frontend
            context: ./GameDevsConnect.Frontend/GameDevsConnect.Frontend.Web

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ${{matrix.context}}
          file: ./${{env.APP_NAME}}.${{matrix.path}}/Dockerfile
          push: true
          tags: ${{secrets.DOCKER_USERNAME}}/${{env.APP_NAME_LOWER}}_${{matrix.tag}}:latest